{% extends "base.html" %}

{% block titulo %}
busqueda de clientes
{% endblock titulo %}


{% block h1_header %}
    Busqueda de usuario
{% endblock h1_header %}  

{% block Botones %}

<a class="navbar-brand" href={% url 'inicio' %}>Inicio</a>
{% endblock Botones %}

{% block main %}
<form action={% url 'busqueda_cliente' %} method="get">
    {{formulario}}
 
    

    <input type="submit" value='Buscar usuario'>

    
</form> 
<ul>
    {% for cliente in cliente  %}
    <li>
        {{cliente}} | <a href={%url "eliminar_usuario" cliente.id%}>Eliminar</a>
    </li>
        
    {% endfor %} 
</ul>

{% endblock main %}
